/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Garamond, serif;
    /* font-family: Arial, sans-serif, ; */
    background-color:floralwhite;
}

/* Header styles */
#main-header {
    background-color:olive;
    color:floralwhite;
    padding: 20px;
    text-align: center;
}

h1 {
    font-style: Akmeist Decor Bold;
}

.links {
    color:floralwhite;
    text-decoration: none;
    margin-right: 20px;
}

/* Navigation styles */
nav ul {
    list-style-type: square;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    /* list-style-type: disc; */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

/* Main content styles */
#main-content {
    padding: 20px;
}

.covers {
    box-shadow: 6px 6px 4px #666;
    float: right;
    width: 300px;
}

.section-header {
    color: #333;
    margin-bottom: 60px;
}

.section-box div {
    border-color: olive;
    border-width: 20px;
    margin: 2px 2px olive;
    padding: 2px 2px olive;
}

.gallery {
    margin-bottom: 20px;
}

.gallery img {
    margin-right: 10px;
    margin-bottom: 10px;
}

.text-desc {
    color: #666;
    /* margin-top: 100px; */
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    /* text-align: center; */
    font: sans-serif;
}

/* Form styles */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="file"] {
    margin-top: 5px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
